<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <%= link_to "Новая статья", new_admin_article_path %>
  <%- @articles.each do |article| %>
    <div class="post-preview">
      <a href="<%= admin_article_path(article) %>">
        <h2 class="post-title">
          <%= article.title %>
        </h2>
        <h3 class="post-subtitle">
          <%= HTML_Truncator.truncate(article.text, 60).html_safe %>
        </h3>
      </a>
      <p class="article_tags_list">Тэги: <%= raw article.tag_list.map { |t| link_to "##{t}", admin_tag_path(t) }.join(', ') %></p>
      <p class="post-meta">Создано <%= article.created_at.strftime("%B %d %Y") %></p>
      <% if article.active? %>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <% else %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
      <%= link_to "Редактировать", edit_admin_article_path(article), class: "admin_article_edit" %>
      |
      <%= link_to "Удалить", admin_article_path(article), :confirm => 'Уверена ли ты?', :method => :delete, class: "admin_article_delete" %>
    </div>
    <hr>
  <% end %>
</div>
