<div class="col-lg-10 col-lg-offset-1 col-md-12 article_container">

  <%= link_to "Назад", admin_articles_path, class: "admin_article_back" %>
  |
  <%= link_to "Редактировать", edit_admin_article_path(@article), class: "admin_article_edit" %>
  |
  <%= link_to "Удалить", admin_article_path(@article), :confirm => 'Уверена ли ты?', :method => :delete, class: "admin_article_delete" %>

  <!-- Blog Post -->
  <%= image_tag @article.main_image(:original), class: "img-responsive", alt: "#{@article.title}" %>
  <h2 class="section-heading"><%= @article.title %></h2>
  <%= @article.text.html_safe %>
  <hr>
  Тэги: <%= raw @article.tag_list.map { |t| link_to "##{t}", tag_path(t) }.join(', ') %>
  <hr>
  <!-- Date/Time -->
  <span class="publishdate" itemprop="datePublished"><%= l(@article.created_at, :format => '%d %B %Y') %></span>

</div>
