<div class="col-lg-10 col-lg-offset-1 col-md-12 article_container">

  <%= link_to "Назад", admin_articles_path, class: "admin_article_back" %>
  |
  <%= link_to "Редактировать", edit_admin_article_path(@article), class: "admin_article_edit" %>
  |
  <%= link_to "Удалить", admin_article_path(@article), :confirm => 'Уверена ли ты?', :method => :delete, class: "admin_article_delete" %>

  <!-- Blog Post -->

  <!-- Title -->
  <h1><%= @article.title %></h1>

  <hr>

  <!-- Date/Time -->
  <p><span class="glyphicon glyphicon-time"></span> Posted on <%= l @article.created_at, format: "%d %B %Y" %></p>

  <hr>

  <!-- Preview Image -->
  <%= image_tag @article.main_image(:original), class: "img-responsive" %>

  <hr>

  <!-- Post Content -->
  <p>
    <%= @article.text.html_safe %>
  </p>

  <hr>

  <p class="article_tags_list">Тэги: <%= raw @article.tag_list.map { |t| link_to "##{t}", admin_tag_path(t) }.join(', ') %></p>

  <hr>

</div>
