<link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<!-- Page Header -->
<header class="intro-header">
  <div class="container overlay">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Ольга <br> и <br> Владимир</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <section id="about_us" class="triangle">
    <div class="row">
      <div class="col-sm-12 text-center wow to_animate animated pullDown">
        <div class="col-md-12">
          <p class="divider"><span class="divider_line"></span><i class="fa fa-heart"></i><span class="divider_line"></span></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="col-sm-12 wow to_animate fadeIn">
          <div class="teaser with_image">
            <div class="teaser_description text-center">
              <p>
                В первый раз Володя и Ольга увиделись на дне рождения общей подруги. Это было время сессии, поэтому мысли девушки были далеки от романтизма. Вова же сразу выделил Олю среди остальных, но сделать первый шаг к знакомству не решился. Спустя некоторое время Оля позвонила подруге узнать, нет ли у неё на примете парня, с которым можно пойти на уроки сальсы. Уж очень нравится ей этот танец! Безо всякой задней мысли подруга дала номер Вовы. Каково же было удивление парня, когда ему позвонила Ольга и предложила составить компанию. Оказалось, что всё это врем он пытался придумать повод для встречи. С тех пор они не расставались. Сальса – connecting people!
              </p>
              <%= image_tag ("works/works_35.jpg"), class: "img-responsive" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="invitation" class="triangle">
    <div class="row">
      <div class="col-sm-12 text-center wow to_animate animated pullDown">
        <div class="col-md-12">
          <p class="divider"><span class="divider_line"></span><i class="fa fa-heart"></i><span class="divider_line"></span></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="col-sm-12 wow to_animate fadeIn">
          <div class="teaser with_image">
            <div class="teaser_description text-center">
              <p>
                Мы приглашаем Вас вместе с нами открыть новый этап нашей жизни – такой же нежный и прозрачный. <br>
                Будем счастливы, если Вы разделите нашу радость в этот незабываемый день! <br>
                Ждём Вас в <b>24.10.2015</b> по адресу <b>Aglonas 4b</b>. Банкет состоится в городе <b>Юрмала</b>, в отеле <b>Baltic Beach Hotel</b> по адресу <b>Jūras iela 23/25 </b>
                <br> Ваши <b>Жених</b>  и <b>Невеста</b>.
              </p>
              <div class="col-sm-6 text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2178.029857040618!2d24.178721900000014!3d56.9140171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eed21c54c50bc9%3A0x90d6f453684dd94!2sAglonas+iela+4B%2C+Latgales+priek%C5%A1pils%C4%93ta%2C+R%C4%ABga%2C+LV-1057!5e0!3m2!1sen!2slv!4v1436211576163" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
              <div class="col-sm-6 text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2174.4476839911567!2d23.7976406!3d56.975392899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eedd1bca6574cb%3A0x84ecbff124919d95!2zSsWrcmFzIGllbGEgMjMvMjUsIErFq3JtYWxhLCBMVi0yMDE1!5e0!3m2!1sen!2slv!4v1436211849364" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="wishlist" class="triangle">
    <div class="row">
      <div class="col-sm-12 text-center wow to_animate animated pullDown">
        <div class="col-md-12">
          <p class="divider"><span class="divider_line"></span><i class="fa fa-heart"></i><span class="divider_line"></span></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="col-sm-12 wow to_animate fadeIn">
          <div class="teaser with_image">
            <div class="teaser_description text-center">
              <h3>
                Список подарков
              </h3>
              <p>
                Самый актуальный подарок – это деньги. <br>
                Ведь в этом случае мы сами сможем приобрести то, что нам нужно: будь то путешествие или хороший ремонт с мебелью. <br>
                Вы также можете ознакомиться со списком подарков, которым мы были бы очень рады. Если Вы желаете подарить нам что-то из этого списка, отметьте галочку – чтобы другие гости видели, что этот подарок «забронирован».
              </p>
              <ul class="list-unstyled">
                <% @wishes.each do |wish| %>
                  <li>
                    <% if wish.checked? %>
                      <s><%= wish.name %></s>
                    <% else %>
                      <%= link_to submit_wish_path(wish_id: wish.id), remote: true do %>
                        <span class="glyphicon glyphicon-ok submit_wish" aria-hidden="true"></span>
                      <% end %>
                      <%= wish.name %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
              <p class="lead red_text">
                Чего нам не нужно дарить
              </p>
              <p>
                Не стоит дарить нам мелкие бытовые приборы и сервизы – у нас они уже есть. <br>
                Помните, что если Вы не можете определиться с выбором, то всегда можно подарить деньги, о чем мы писали выше – не прогадаете!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contacts" class="triangle">
    <div class="row">
      <div class="col-sm-12 text-center wow to_animate animated pullDown">
        <div class="col-md-12">
          <p class="divider"><span class="divider_line"></span><i class="fa fa-heart"></i><span class="divider_line"></span></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="col-sm-12 wow to_animate fadeIn">
          <div class="teaser with_image">
            <div class="teaser_description text-center">
              <p>
                По любым вопросам вы можете обращаться к нашим свидетелям Евгению <b>25555555</b> и Анне <b>23333333</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div id="section-contact" class="text-center">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-12 text-center wow to_animate animated pullDown">
              <div class="col-md-12">
                <p class="divider"><span class="divider_line"></span><i class="fa fa-heart"></i><span class="divider_line"></span></p>
              </div>
            </div>
          </div>

          <p class="small_heading">
            Тут вы можете нас поздравить с предстоящим праздником
          </p>

          <%= simple_form_for @greeting, url: send_greeting_path do |f| %>
            <%= f.input :work_id, input_html: { value: @work.id }, as: :hidden %>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.input :from, label: false, placeholder: "Ваше имя" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.input :text, label: false, placeholder: "Ваше поздравление" %>
            </div>
            <button type="submit" class="btn custom-btn btn-default">Отправить</button>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="divider"><span class="divider_line"></span><i class="fa fa-heart"></i><span class="divider_line"></span></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center socials_list">
          <li>
            <a href="">
              <span class="fa-stack fa-lg">
                <i class="fa fa-instagram"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="fa-stack fa-lg">
                <i class="fa fa-facebook"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="fa-stack fa-lg">
                <i class="fa fa-pinterest"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="fa-stack fa-lg">
                <i class="fa fa-vk"></i>
              </span>
            </a>
          </li>
        </ul>
        <div class="footer_made_by">
          Разработка сайта: <a href="http://gnotov.com/ru/contacts">gnotov.<span>com</span></a>
        </div>
      </div>
    </div>
  </footer>
</div>
