<!DOCTYPE html>
<html>
<head>
  <title>Mywedding</title>
  <meta name=viewport content="width=device-width, initial-scale=1">

  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="#0" class="cd-top">Top</a>
  <!-- Page Header -->
  <header class="intro-header">
    <div class="container overlay">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <%= link_to root_url do %>
              <h1>My Wedding</h1>
              <hr class="small">
              <span class="subheading"><%= t('header_text') %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <nav id="wow-menu" class="navbar navbar-default on">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <ul class="nav navbar-nav navbar-right locale_navbar_mobile">
            <li><%= link_to "LV", url_for(locale: :lv), class: "#{I18n.locale == :lv ? 'active' : ''}" %></li>
            <li><%= link_to "RU", url_for(locale: :ru), class: "#{I18n.locale == :ru ? 'active' : ''}" %></li>
            <li><%= link_to "EN", url_for(locale: :en), class: "#{I18n.locale == :en ? 'active' : ''}" %></li>
          </ul>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Menu -->
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
          <ul id="menu-top" class="nav navbar-nav navbar-left">
            <li><%= link_to t('home').html_safe, root_path, class: "#{params[:controller] == 'home' ? 'active' : ''}" %></li>
            <li><%= link_to t('articles'), articles_path, class: "#{params[:controller] == 'articles' ? 'active' : ''}" %></li>
            <li><%= link_to t('works'), articles_path, class: "#{params[:controller] == 'works' ? 'active' : ''}" %></li>
            <li><%= link_to t('prices'), articles_path, class: "#{params[:controller] == 'prices' ? 'active' : ''}" %></li>
            <!-- <li><%= link_to t('about'), articles_path, class: "#{params[:controller] == 'about' ? 'active' : ''}" %></li> -->
            <li><%= link_to t('contacts'), articles_path, class: "#{params[:controller] == 'contacts' ? 'active' : ''}" %></li>
            <li><%= link_to t('shop'), articles_path, class: "#{params[:controller] == 'shop' ? 'active' : ''}" %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right locale_navbar">
            <li><%= link_to "LV", url_for(locale: :lv), class: "#{I18n.locale == :lv ? 'active' : ''}" %></li>
            <li><%= link_to "RU", url_for(locale: :ru), class: "#{I18n.locale == :ru ? 'active' : ''}" %></li>
            <li><%= link_to "EN", url_for(locale: :en), class: "#{I18n.locale == :en ? 'active' : ''}" %></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <!-- Footer -->

    <hr>

    <footer>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <ul class="list-inline text-center socials_list">
            <li>
              <a href="">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-instagram"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-facebook"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-pinterest"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-vk"></i>
                </span>
              </a>
            </li>
          </ul>
          <div class="footer_made_by">
            Разработка сайта: <a href="http://gnotov.com/ru/contacts">gnotov.<span>com</span></a>
          </div>
          </div>
        </div>
      </footer>

    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script>
    new WOW().init();
    </script>

  </body>
  </html>
