<!DOCTYPE html>
<html>
<head>
  <title>Mywedding</title>
  <meta name=viewport content="width=device-width, initial-scale=1">

  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag "works/basic_works_styles", media: 'all' %>
  
  <%= stylesheet_link_tag "works/#{@template_key}", media: 'all' %>

  <%= favicon_link_tag %>

  <%= csrf_meta_tags %>
</head>

<body>
  <a href="#0" class="cd-top">Top</a>

  <%= yield %>

  <!-- Modals start -->
  <div class="modal fade" id="call_me_back_modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <span class="modal_close_button" data-dismiss="modal"></span>
          <!-- The form is placed inside the body of modal -->
          <div class="col-sm-12 row">
            <div class="col-xs-12 text-center">
              <div class="section-title center">
                <h2 class="text-center">Хотите мы вам перезвоним?</h2>
              </div>
            </div>
            <div class="col-sm-6 modal_form_container">
              <div class="col-xs-12 text-center small_title">
                Мы работаем ПН-ВС с 9.00 до 21.00 <br>
                Перезвоним Вам при первой возможности
              </div>

              <form id="loginForm" method="post" class="form-horizontal">
                <div class="form-group">
                  <label class="col-xs-10 col-xs-offset-1">Ваш номер*</label>
                  <div class="col-xs-10 col-xs-offset-1">
                    <input type="text" class="form-control modal_user_name_input" name="phone", placeholder="Пример: +7 926 123-45-67" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-10 col-xs-offset-1">
                    <button type="submit" class="col-xs-12 btn btn-default">Оставить заявку</button>
                  </div>
                </div>
              </form>
              <div class="col-xs-12 text-center small_title">
                или позвоните нам по телефону <br> +7 (495) 669-14-20
              </div>
            </div>
            <div class="col-sm-6 modal_form_image_container">
              <!-- <%= image_tag ("woman_1.png"), class: "img-responsive" %> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modals end -->

  <%= javascript_include_tag 'works' %>
  <%= javascript_include_tag "works/#{@template_key}" %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <script>
  new WOW().init();
  </script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64546169-1', 'auto');
  ga('send', 'pageview');
  </script>

</body>
</html>
